@CHARSET "UTF-8";
table{
	border:solid #FF0000 2px;
	background-color:#CCCCCC;
	margin:auto;
	width:540px;
	height:600px;
	}

.TabTd1{
	
	text-align:center;
	color:red;
	size:28px;
	height:15px;
	
}
.TdClass{
	width:130px;
	height: 15px;
	text-align:right;
	padding-right:15px;
}

.TrClass{
	height:50px;
	}
	
.InputClass{
	width:140px;
	height:24px;
	
}

.TdInputClass{
	
	height:30px;
	color:red;
	text-align:left;
	text-align:center;
}

.TdImgClass{
	width:15px;
	height:30px;
	text-align:left;
}

.TdSpanClass{
	width:245px;
	height:30px;
	font-size:12px;
	color:red;
}

